{% extends "./base.html" %}
{% load static %}

{% block title %} Личный кабинет {% endblock %}


{% block content %}
{% include 'blocks/rotate.html' %}
<p class = "account_user-info_title text-center">Полная информация</p>
<div class="mt-5">

    <div class="account_user-about_me flex justify-center flex-wrap">

        <div class="account_user-about_me-container m-2">
            <p class = "account_user-about_me-text">
                <span>Имя:</span>
                {% if request.user.first_name %}
                    {{ request.user.first_name }}
                {% endif %}
            </p>
            <p class = "account_user-about_me-text">
                <span>Фамилия:</span>
                {% if request.user.last_name %}
                    {{ request.user.last_name }}
                {% endif %}
            </p>
            <p class = "account_user-about_me-text">
                <span>Отчество:</span>
                {% if request.user.patronymic %}
                    {{ request.user.patronymic }}
                {% endif %}
            </p>
        </div>

        <div class="account_user-about_me-container m-2">
            <p class = "account_user-about_me-text">
                <span>Логин:</span>
                {% if request.user.username %}
                    {{ request.user.username }}
                {% endif %}
            </p>
            <p class = "account_user-about_me-text">
                <span>Пол:</span>
                {% if request.user.gender == 'm' %}
                    Мужской
                {% else %}
                    Женский
                {% endif %}
            </p>
            <p class = "account_user-about_me-text">
                <span>Дата рождения:</span>
                {% if request.user.birthday_date %}
                    {{ request.user.birthday_date|date:'d.m.Y' }}
                {% endif %}
            </p>
        </div>

        <div class="account_user-about_me-container m-2">
            <p style = "max-width: 300px;" class = "account_user-about_me-text">
                <span>Место жительства:</span>
                {% if request.user.region  and request.user.city  and request.user.street  and request.user.house %}
                    {{ request.user.region  }}
                    г.{{ request.user.city  }} <br/>
                    {{ request.user.street  }}
                    {{ request.user.house }}
                {% endif %}
            </p>
        </div>

        <div class="account_user-about_me-container m-2">
            <p class = "account_user-about_me-text">
                <span>Номер телефона:</span>
                {% if request.user.phone_number %}
                    {{ request.user.phone_number }}
                {% endif %}
            </p>
            <p class = "account_user-about_me-text">
                <span>Почта:</span>
                {% if request.user.email %}
                    {{ request.user.email }}
                {% endif %}
            </p>
            <p class = "account_user-about_me-text">
                <span>Роль:</span>
                {% if request.user.role  %}
                    {{ request.user.role  }}
                {% endif %}
            </p>
        </div>
        
        <div class="account_user-about_me-container m-2">
            <p class = "account_user-about_me-text">
                <span>Дата зачисления:</span>
                {% if request.user.date_joined %}
                    {{ request.user.date_joined|date:"d.m.Y" }}
                {% endif %}
            </p>
            <p class = "account_user-about_me-text">
                <span>Дата отчисления:</span>
                {% if request.user.date_end %}
                    {{ request.user.date_end|date:"d.m.Y" }}
                {% endif %}
            </p>
        </div>

    </div>
    <div class = "account_user-about_edit_nav flex flex-row-reverse">
        <a class ="link-edit_profile-button text-center uppercase" href="{% url 'profile_edit' %}">Изменить данные</a>
    </div>

</div>

{% endblock %}