/* Roboto */
@font-face {
    font-family: Roboto-Medium;
    src: url('../../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../../fonts/Roboto/Roboto-Bold.ttf');
}

/* Inter */
@font-face {
    font-family: Inter-Bold;
    src: url('../../fonts/Inter/Inter-Bold.ttf');
}


body::-webkit-scrollbar {
    width: 5px;
    /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
    background: white;
    /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
    background-color: #36586C;
    /* цвет плашки */
    border-radius: 20px;
    /* закругления плашки */
    border: 3px solid #36586C;
    /* padding вокруг плашки */
}
span {
    font-family: Roboto-Bold;
    color:#E7882C;
}
/* error start  */
.error-message-title { 
    font-family: Roboto-Bold;
    font-size: 75px;
    color:#E7882C;
}
.error-message { 
    font-size: 35px;
}
.error-message:last-child {
    color:#D285C9;
    text-decoration: underline;
}
.errorlist { 
    text-align: center;
}
.error_reset_password-text { 
    font-family: Roboto-Regular;
    font-size: 17px;
}
/* error end */

/* header start */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.userLogo {
    cursor: pointer;
}

nav {
    font-family: Roboto-Medium;
}

.logo,
.userLogo,
.bell-logo {
    user-select: none;
}
.auth-menu { 
    margin-left: 25px;
}
.user-menu .button { 
    font-family: Inter-Bold;
    background-color:rgb(242, 71, 71);
    transition: ease-in-out .3s;
}
.user-menu .button:hover { 
    background-color:#E7882C;
}

.list-link{
    font-family: Roboto-Medium;
    font-size: 16px;
    transition-duration: .3s;
}

.list-link:hover {
    color: #F19239;
    transition: ease-in-out .3s;
}

/* submenu start */
.nav_menu > li {
    position: relative;
}
.nav_menu .sub_menu { 
    position: absolute;
    display: none;
    left:-13px;
    width:145px;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
}
.first {
    width: 100px !important;
}
.nav_menu .sub_menu li {
    text-align: center;
    padding:3px;
    transition: ease-in-out .2s;
}
.nav_menu .sub_menu li:hover {
    color:#E7882C;
    background-color: rgb(241, 240, 240);
}
.nav_menu > li:hover .sub_menu { 
    display: block;
}
/* submenu end */

/* bell  */

.notif {
    position: relative;
}

.bell-number {
    font-family: Roboto-Medium;
    position: absolute;
    font-size: 14px;
    top: -10px;
    right: -5px;
    background-color: rgb(242, 71, 71);
}

/* bell end */

/* styles for plus in the site st */

#plus {
    position: relative;
    left: 180px;
    top: -10px;
    /* border:1px solid black; */
    height: 30px;
    width: 30px;
}

#plus:first-child {
    left: 200px;
    transform: rotate(60deg);
}

.second-pls {
    position: relative;
    left: 88%;
    top: 18px;
    /* border:1px solid black; */
    height: 30px;
    width: 30px;
}

.second-pls:last-child {
    left: 85.7%;
    top: 25px;
    transform: rotate(60deg);
}

/* sticks */
#elem:first-child {
    position: absolute;
    width: 11px;
    border-radius: 3px;
    height: 28px;
    background-color: #E7882C;
    transform: rotate(45deg);
}

#elem:nth-child(2) {
    position: absolute;
    width: 11px;
    border-radius: 3px;
    height: 28px;
    background-color: #E7882C;
    transform: rotate(135deg);
}

/* end sticks */

/* styles for plus in the site ed */

/* settings for girl  */

.user-hello {
    position: relative;
}

.girl-head {
    position: absolute;
    top: -5%;
    left: 15%;
    user-select: none;
}



.plus-head {
    position: absolute;
    top: 270px;
    left: 150px;
    user-select: none;
}


/* settings for girl end  */

/* inst start */

.start-title {
    font-family: Roboto-Medium;
    font-size: 90px;
    transform: uppercase;
    color: #F19239;
}

.start-info {
    font-family: Roboto-Regular;
    font-size: 25px;
    text-align: center;
    max-width: 525px;
    margin: 0 auto;
}

.start-button {
    font-family: Inter-Bold;
    display: block;
    background-color: #D285C9;
    padding: 12px 12px;
    width: 275px;
    font-size: 20px;
    margin: 35px auto;
    transition: ease-in-out .3s;
}

.start-button:hover {
    background-color: #36586C;
}

.mr-25 {
    margin-right: 150px;
}

.mt-15 {
    margin-top: 120px;
}

/* inst end */

/* header end */

/* Переход старт */

.wrap {
    position: relative;
}

.volna1 {
    position: relative;
    top: 50px;
    background-image: url('../../images/startPage/volna1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 375px;
    width: 100%;
}

.volna2 {
    top: 40px;
  
    background-image: url('../../images/startPage/volna1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 375px;
    width: 100%;
    transform: scale(1, -1);
}

/* переход между прогр комлекс и связь  начало*/
.volna4,
.volna5 {
    height: 375px;
    width: 100%;
}

.volna4 {
    margin-top: 150px;
    background-image: url('../../images/startPage/volna1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.volna5 {
    background-image: url('../../images/startPage/volna1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1, -1);
}

/* переход между прогр комлекс и связь конец*/

/* Переход конец */


/* main start */

/* main end */


/* about us st */

.main-block-info {
    width: 337.09px;
    min-height: 210px;
    padding-top: 5px;
    margin-top: 15px;
}

.main-block-info:first-child {
    background: #36586C;
    border: 1px solid #3B5B6F;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
    filter: drop-shadow(15px -10px 1px #36586C);
}

.main-block-info:nth-child(2) {
    background: #D285C9;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.45);
    filter: drop-shadow(15px -10px 1px #D285C9);
}

.main-block-info:last-child {
    background: #F19239;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.45);
    filter: drop-shadow(15px -10px 1px #F19239);
}

.main-block-info-title,
.main-block-info-number {
    font-family: Inter-Bold;
}

.main-block-info-title {
    font-size: 20px;
    min-height: 75px;
}

.main-block-info-number {
    font-size: 100px;
    text-shadow: 10px -5px 10px rgba(0, 0, 0, 0.45);
}


/* about us ed */
.type-instr-content-info-title, 
.complex-box-content-info-title, 
.contact-box-title { 
    color:#3B5B6F;
}
/* type-instr start */

.type-instr-content {
    margin: 0 auto;
    /* bordeR:1px solid black; */
}

.type-instr {
    margin-top: 175px;
}

.type-instr-content-info-title {
    font-family: Roboto-Bold;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

/* plus start */

.third-pls {
    position: relative;
    left: 99%;
    top: -5px;
    height: 30px;
    width: 30px;
}

.third-pls:first-child {
    left: 96.5%;
    top: -5px;
}

.fourth-pls {
    position: relative;
    left: -2.5%;
    top: 5px;
    height: 30px;
    width: 30px;
}

.fourth-pls:last-child {
    left: 1.7%;
    top: -4px;
}

/* plus end */
.type-instr-content { 
    max-width: 75%;
}

.type-isntr-content-picture {
    position: relative;
}

.type-instr-content-picture-text {
    font-family: Roboto-Medium;
    background: linear-gradient(90.16deg, #F19239 46.07%, #36586C 60.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: absolute;
    top: 25%;
    left:-50px;
    font-size: 20px;
    max-width: 520px;
    text-align: center;
    transform: rotate(-33.66deg);
}

.type-instr-content-picture-box {
    width: 135px;
    height: 75px;
    /* border:1px solid black; */
}

.type-instr-content-picture-box-text {
    font-family: Inter-Bold;
    font-size: 16px;
}

.type-instr-content-picture-box:nth-child(1),
.type-instr-content-picture-box:nth-child(2) {
    background: #36586C;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
    filter: drop-shadow(5px -5px 1px #36586C);
}

.type-instr-content-picture-box:nth-child(3) {
    background: linear-gradient(55.79deg, #F19239 46.13%, #36586C 57.09%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
    filter: drop-shadow(5px -5px 1px #9E9E9E);
}

.type-instr-content-picture-box:nth-child(4),
.type-instr-content-picture-box:nth-child(5) {
    background: #F19239;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
    filter: drop-shadow(3px -4px 1px #F19239);
}

.type-instr-content-picture-box:nth-child(4) {
    position: relative;
    left: 19.5%;
}

.type-instr-content-picture-box:nth-child(3) {
    position: relative;
    left: 39%;
}

.type-instr-content-picture-box:nth-child(2) {
    position: relative;
    z-index: 1;
    left: 58.5%;
}

.type-instr-content-picture-box:nth-child(1) {
    position: relative;
    z-index: 2;
    left: 78%;
}

/* type-instr end */

/* complex-box start */

.complex-box {
    margin-top: 150px;
}

.complex-box-content-info-title {
    font-family: Roboto-Bold;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.complex-box-block {
    width: 248px;
    min-height: 241px;
}

.complex-box-block p {
    font-family: Roboto-Medium;
    font-size: 16px;
}

.complex-box-block img {
    display: block;
    margin: 0 auto;
    height: 150px;
}

.complex-box-block:nth-child(2),
.complex-box-block:nth-child(4) {
    position: relative;
    top: 150px;
}

.complex-box-block:last-child {
    position: relative;
    top: 150px;
    background: none;
    border: none;
}

/* first plusses  */
.five-pls {
    position: relative;
    left: 65px;
    top: 25px;
    height: 30px;
    width: 30px;
}

.five-pls:last-child {
    left: 85px;
}

/* second plusses */

.six-pls {
    position: relative;
    left: 100px;
    top: 15px;
    height: 30px;
    width: 30px;
}

.six-pls:first-child {
    left: 135px;
}

/* seven plusses */

.seven-pls {
    position: relative;
    left: 175px;
    top: -105px;
    height: 30px;
    width: 30px;
    transform: rotate(-36deg);
}

.seven-pls:first-child {
    left: 215px;
    top: -50px;
}

/* complex-box end */

/* contact_us start  */

.contact-box-title {
    font-family: Roboto-Bold;
    font-size: 25px;
 
}

.contact-box label {
    display: none;
}

.contact-box input,
.contact-box textarea {
    margin-top: 35px;
    resize: none;
    padding: 14px 35px;
    background: #FFFFFF;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    outline: none;
}

.contact-box form {
    max-width: 460px;
}

.contact-box button {
    font-family: Roboto-Bold;
    width: 220px;
    height: 64px;
    font-size: 16px;
    margin: 35px auto;
    outline: none;
    background-color: #D285C9;
    transition: ease-in-out .3s;

}

.contact-box button:hover {
    background-color: #36586C;
}

.contact-box-counter {
    position: relative;
    opacity: .5;
    top: -35px;
    left: 20px;
}


/* contact_us end */

/* message start */

.message {
    padding: 20px;
    position: fixed;
    top: 10px;
    right: 10px;
    min-width: 350px;

}
.message-text { 
    max-width: 250px;
}
.error {
    background-color: rgb(248 113 113);
    width: 300px;
}

.error-text {
    color: rgb(136 19 55);
    user-select: none;
}

.error-sticks div {
    background-color: rgb(136 19 55);
}

.message-close {
    position:static;
    cursor: pointer;
}

.close-stick:nth-child(1) {
    position: absolute;
    width: 25px;
    height: 3px;
    transform: rotate(-44deg);
}

.close-stick:nth-child(2) {
    position: absolute;
    width: 25px;
    height: 3px;
    transform: rotate(45deg);
}

/* message end */


/* auth page start */
.login-form {
    min-height: 450px;
}
.link-login { 
   font-family: Roboto-Bold;
   color:#E7882C;
   transition: ease-in-out .3s;
}
.link-login:hover { 
    color:#D285C9;
}
.p-help { 
    font-family: Roboto-Regular;
}
.login-form form{ 
    font-family: Roboto-Regular;
    padding:30px;
    max-height: 310px;
    min-width: 410px;
    max-width: 410px;
    border-radius: 15px;
}
.login-form form label {
    font-family: Roboto-Bold; 
    font-weight: bold;
    color: #36586C;
    display: inline-block;
    min-width: 75px;
}
.error-block-list { 
    min-height: 50px;
    margin-top: 10px;
}
.login-form .errorlist { 
    display: flex;
    align-items: center;
    flex-direction: column;
    color:red;
    max-width: 400px;
    font-size: 13px;
    min-height:50px;
    width: 250px;
    margin:0 auto;
}
.login-form .button { 
    font-family: Roboto-bold;
    display: block;
    margin: 10px auto;
    width: 125px;
    height: 35px;
    line-height: 35px;
    background-color: #D285C9;
    transition: ease-in-out .3s;

}
.login-form input { 
    font-family: Roboto-Regular;
    padding: 10px 15px;
    border:none;
    outline: none; 
    min-height: 50px;
    margin-top: 25px;
    background-color: #EDF2F7;
    color: #36586C;
}
.login-form .button:hover {
    background-color: #36586C;
}

.password_reset_done-text { 
    font-family: Roboto-Regular;
    font-size: 17px;
}
.password_reset_complete-title,.error_reset_password {
    font-family: Roboto-Bold;
    font-size: 20px;
}
.password_reset_complete-text{ 
    font-family: Roboto-Bold;
    font-size: 17px;
    color:#E7882C;
    text-decoration: underline;
}
.p-help {
    font-family: Roboto-Bold;
    color: #36586C;
}
.reset_lables label{ 
    width: 300px;
}
/* auth page end */

/* profite start */

.account_image-image_url { 
    border-radius: 100%;
    width: 250px;
}
.account_user-info_title { 
    font-family: Roboto-Bold;
    color:#E7882C;
    font-size: 25px;
}
.account_user-info_user_name { 
    font-family: Roboto-Medium;
    font-size: 20px;
    color:#E7882C;
}
.account_user-info_user_name:nth-child(2) { 
    margin-left: 10px;
}
.account_user-info_date_birth,.account_user-info_contact { 
    font-family: Roboto-Regular;
    font-size: 17px;
    color:#38586A;
}
.account_user-info_contact img { 
    filter:brightness(0%);
    margin-right: 5px;
}
.account_user-info_contact:nth-child(2){
    margin-left: 10px;
}
.account_user-info_role { 
    margin-left: 10px;
}
.account_role { 
    color:#38586A
}
.account_user-info_group { 
    margin-left: 3px;
}
.account_user-exit {
    font-family: Roboto-Medium;
    color:white;
    display: flex;
    align-items: center;
    width: 100px;
    height:35px;
    justify-content: center;
    background-color: rgb(242, 71, 71);
    transition: ease-in-out .3s;
}
.account_user-exit:hover { 
    background-color:#E7882C;
}
.link-about_width_me span{ 
    color:#D285C9;
}
.account_user-about_me-text { 
    font-family: Roboto-Regular;
    font-size: 17px;
}
.account_user-about_me-text span {
    color:#38586A;
}
.link-edit_profile-button { 
    font-family: Roboto-Medium;
    display: block;
    padding:5px 15px;
    font-size:17px;
    background-color: #E7882C;
    color:white;
    transition: ease-in-out .3s;
}
.link-edit_profile-button:hover { 
    background-color: #38586A;
}
.account_link-reverse span {
    transition: ease-in-out .3s;
}
.account_link-reverse span:hover { 
    color:#38586A;
}
/* profite end */

/* contact start */
.contact-main_container-box-card_about-name { 
    font-family: Roboto-Bold;
    font-size: 20px;
}
.contact-main_container-box-card_about-name:nth-child(1) {
    margin-right: 7px;
}
.contact-main_container-box-card_image { 
    margin-right: 10px;
}
.contact-title  { 
    font-family: Roboto-Bold;
    font-size: 25px;
    color:#E7882C;
}
.contact_text, .contact_dev { 
    font-family: Roboto-Regular;
}
.contact_dev-soc a { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border:1px solid black;
    padding:2px;
    transition: ease-in-out .3s;
}
.contact_dev-soc a:nth-child(1) {
    padding:5px;
}
.contact_dev-soc a:nth-child(2) img,
.contact_dev-soc a:nth-child(3) img {
    filter: brightness(0%);
}
.contact_dev-soc a:hover { 
    background-color: #E7882C;
    border:1px solid #E7882C;
}
/* contact end */

/* edit account  */
.account_user-button_edit { 
    font-family: Roboto-Medium;
    display: block;
    width: 150px;
    padding:5px 15px;
    font-size:17px;
    text-transform: uppercase;
    background-color: #E7882C;
    color:white;
    transition: ease-in-out .3s;
}
.account_user-button_edit:hover { 
    background-color: #38586A;
}
.edit_box input{ 
    width: 100%;
}
/* edit account end  */

.users_themes-title { 
    font-family: Inter-Bold;
    font-size: 20px;
    color: #E7882C;
}
.users_themes-box_list-link { 
    font-family: Roboto-Bold;
    transition: ease-in-out .17s;
    border-bottom: 1px solid #E7882C;
}
.users_themes-box_list-link:hover { 
    color:#E7882C;
}
.users_themes-theme_info { 
    color:#E7882C;
    text-align: center;
}

/* usercreate  */


/* usercreate end */


/* footer start */


.volna3 {
    position: relative;
    background-image: url('../../images/startPage/volna1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 375px;
    width: 100%;
}

.footer {
    position: relative;
}

.footer-content-first-box-box-title {
    font-family: Roboto-Bold;
    font-size: 50px;
}

.footer-content-first-box-box-quote {
    font-family: Roboto-Medium;
    font-size: 16px;
    max-width: 346px;
    text-align: center;
    line-height: 15px;
}

.footer-content-first-box-box-button {
    font-family: Roboto-Regular;
    width: 282px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    padding-left: 10px;
    transition: ease-in-out .3s;
    font-size: 14px;
}

.footer-content-first-box-box-button:hover {
    background-color: #fff;
}

.footer-content-first-box-box-button:hover>p {
    color: #000;
    transition: ease-in-out .3s;
}

.footer-content-first-box-box-button:hover>img {
    filter: brightness(0%);
    transition: ease-in-out .3s;
}

.footer-content-first-box-box-contacts a:nth-child(1) {
    margin-top: 30px;
}

.footer-content-first-box-box-contacts a img {
    margin-right: 10px;
}

.footer-content-first-box-box-contacts a:nth-child(2) {
    margin-top: 15px;
}

.footer-content-first-box-box-contacts {
    font-family: Roboto-Regular;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-content-first-box-box:nth-child(1) { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-content-first-box-box {
    min-height: 300px;
}
.footer-content-socials { 
    margin-right: 10px;
    margin-left: 10px;
}
.footer-content-socials a {
    display: block;
    border: 1px solid #fff;
    height: 50px;
    width: 50px;
    transition: ease-in-out .3s;
}

.footer-content-socials a:nth-child(2) img,
.footer-content-socials a:nth-child(3) img {
    display: block;
    margin: 16px auto;
}
.footer-content-socials a:nth-child(2) { 
    margin-right: 16px;
    margin-left: 16px;
}
.footer-content-socials a:hover {
    background-color: #fff;
}

.footer-content-socials a:hover>img {
    filter: brightness(0%);
    transition: ease-in-out .3s;
}
.footer-content-second-boxes { 
    align-items: center;
}
.footer-content-second-boxes div:nth-child(1),
.footer-content-second-boxes div:nth-child(3) {
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.footer-content-third-boxes { 
    margin-bottom: 15px;
}
footer {
    min-height: 458px;
    width: 100%;
    background: linear-gradient(89.93deg, #38586A 1.85%, #626660 24.37%, #AA7C4C 62.12%, #EE913B 98.1%);
}

footer .cont { 
    min-height: 300px;
}

/* footer end */
@media (max-width:1280px) {
    .logo { 
        display: none;
    }
    .girl-head {
        display: none;
    }

    .plus-head {
        left: 50px;
        display: none;
    }
    .salat div { 
        margin:0 auto !important;
    }
    .type-instr-content-picture-boxs { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .type-instr-content-picture-box { 
        position:static !important;
        left:0;
        min-width: 250px;
        margin-top: 25px;
    }
    .type-instr-content-picture-text { 
        display: none;
    }
    .start-title{
        font-size: 65px;
        margin:0 auto;
    }
    .start-info  { 
        font-size: 22px;
        text-align: center;
    }
    .start-button { 
        font-size: 15px;
    }
    .type-instr-content { 
        margin: 0 auto;
    }
    .type-instr-content img { 
        display: none;
    }
    .complex-box { 
        display: none;
    }
    .salatt {   /* menu */
        justify-content: center;
    }
}

@media (max-width:500px) {
    .start-title{
        font-size: 50px;
        margin:0 auto;
    }
    .start-info  { 
        font-size: 20px;
    }
    .start-button { 
        font-size: 15px;
    }
    .list-link { 
        font-size: 14px;
    }
    .contact-box-counter { 
        display: none;
    }
    .complex-box-block { 
        display: none;
    }
    .box-program { 
        display: flex !important;
    }
    .complex-box-block { 
        position:static;
    }
    .main-block-info { 
        max-width: 300px;
    }
    .main-block-info-number { 
        font-size: 60px;
    }
    .contact_boxes img {
        display: none;
    }
}   

#id_city {
    width: 100%;
    font-size: 1rem;
    color: #4a5568;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-weight: 400;
    display: block;
    border-radius: 0.25rem;
    height:40px;
    border-color: #e2e8f0;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}
#id_city:focus {
    outline: none;
}