@font-face {
    font-family: "Roboto-medium";
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

.not-visible { 
    display: none;
}
body::-webkit-scrollbar {
    width: 5px;
    /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
    background: white;
    /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
    background-color: #6f42c1;
    /* цвет плашки */
    border-radius: 20px;
    /* закругления плашки */
    border: 3px solid #6f42c1;
    /* padding вокруг плашки */
}

/* style for boxs */


.alertt { 
    position: fixed;
    right:10px;
    top:10px;
    z-index: 2;
}

.not_visible { 
    display: none;
}