{% extends "../base.html" %}


{% block title %} Выбор тем {% endblock %}


{% block content %}

<div class="container mt-3">
    <a class = 'btn btn-outline-orange mb-2 fw-bold' onclick="javascript:history.back(); return false;" href ="#">
        Назад
    </a>
    <p class = 'fs-5 text-uppercase mt-3' style="font-family: 'Inter-Bold'; color:#E7882B;">Выберите инструктаж</p>
    <div class="list-group mt-3">
        {% for item in themes %}
            <a class="list-group-item list-group-item-action" href="{% url 'test_list' item.id %}">{{ item.name_instruction }}</a>
        {% endfor %}
    </div>
</div>

{% endblock %}