{% extends "../base.html" %}


{% block title %} Инструктаж - выбор тем {% endblock %}


{% block content %}

<div class="container mt-3">
    <a class = 'btn btn-outline-orange mb-2 fw-bold' onclick="javascript:history.back(); return false;" href ="#">
        <i class="fa-solid fa-circle-left mx-2"></i>
        Назад
    </a>
    <p class = 'fs-5 text-uppercase mt-3' style="font-family: 'Inter-Bold'; color:#E7882B;">Выберите инструктаж</p>
    <div class="list-group mt-3" style='font-family: "Inter-Regular";'>
        {% for item in themes %}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{% url 'test_list' item.id %}">{{ item.name_instruction }}
                <!-- доделать эту часть!! -->
                {% if item.counttest2|stringformat:"s" != '0' %}
                    <span class="badge rounded-pill text-white bg-danger">
                        {{ item.counttest2}}
                    </span>
                    {% else %}

                    {% endif %}
            
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}