{% extends "../base.html" %}
{% load static %}

{% block title %} {{ themes.name_instruction }} {% endblock %}



{% block scripts %}
<script defer src="{% static 'js/brief/brief.js' %}"></script>
{% endblock scripts %}


{% block content %}

<!-- Modal -->
<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Меню</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id='body-form' class="modal-body"></div>

      <div class="modal-footer">
        {% csrf_token %}
        <button type="button" id='start-button' data-bs-dismiss="modal" class="btn btn-success">Начать</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <a class='btn btn-outline-orange mb-2 fw-bold' onclick="javascript:history.back(); return false;" href="#">
    <i class="fa-solid fa-circle-left mx-2"></i>
    Назад
  </a>
  <p class='fs-5 text-uppercase mt-3' style="font-family: 'Inter-Bold'; color:#E7882B;">
    Тесты по категории: <span style="color:black;">{{ themes.name_instruction }}</span>
  </p>

  <p class='fs-5 text-uppercase' style="font-family: 'Inter-Bold'; color:#E7882B;">
    Список тестов:
  </p>
  <div class="list-group mt-3" style='font-family: "Inter-Regular";'>
    {% for item in test %}
      <button class="btn-quiz list-group-item list-group-item-action"
        data-brief-name="{{item.instruction.name_instruction }}" data-brief-pk='{{item.instruction.pk }}'
        data-quiz-pk="{{ item.id }}" data-quiz-name="{{item.name_test}}" data-quiz-time="{{ item.time }}"
        data-pass="{{ item.required_score_to_pass }}" data-questions='{{ item.number_of_questions }}'
        data-bs-target="#staticBackdrop" data-file-link='{{ item.file.url }}' data-bs-toggle="modal">
       {{ item.name_test }}
      </button>
    {% empty %}
      <p class='fw-bold text-center fs-5 text-danger'>Пока нет назначенных тестов</p>
    {% endfor %}
    {% if assigned %}
      {% for item in assigned %}
        <button class="btn-quiz list-group-item list-group-item-action"
          data-brief-name="{{item.test.instruction.name_instruction }}" data-brief-pk='{{item.test.instruction.pk }}'
          data-quiz-pk="{{ item.id }}" data-quiz-name="{{item.test.name_test}}" data-quiz-time="{{ item.time }}"
          data-pass="{{ item.test.required_score_to_pass }}" data-questions='{{ item.test.number_of_questions }}'
          data-bs-target="#staticBackdrop" data-file-link='{{ item.test.file.url }}' data-bs-toggle="modal">
        {{ item.test.name_test }}
        </button>
      {% endfor %}
    {% endif %}
  </div>


</div>

{% endblock %}