{% extends "../base.html" %}
{% load static %}

{% block title %} {{ test.name_test }} {% endblock %}


{% block scripts %}
    <script defer src="{% static 'js/brief/quiz.js' %}"></script>
{% endblock scripts %}
    

{% block content %}
<div class ="container mt-3">
    <div class = 'row'>
        <div class = 'col'>
            <a class = 'btn btn-outline-orange mb-2 fw-bold' href ="{% url 'brief' %}">
                <i class="fa-solid fa-circle-left mx-2"></i>
                Назад
            </a>
        </div>
    </div>

    <p class = 'fs-5 text-uppercase mt-3' style="font-family: 'Inter-Bold'; color:#E7882B;">{{ test.name_test }}</p>
    <div class = 'border-bottom row'>
        <div class = 'col'>
            <p id = 'score-box' style="font-family: 'Inter-Bold';">Рекомендуемый процент для сдачи теста: {{ test.required_score_to_pass }}%</p>
        </div>
        <div class = 'col' style = 'max-width: 140px;'>
            <p class ='fw-bold' style="font-family: 'Inter-Bold';">Время: <span id="timerParag">01:00</span></p>
        </div>
    </div>
    <div class="content">
        <form class = 'mt-2 rounded bg-light p-3' id ='quiz-form'>
            {% csrf_token %}
            <div class ='bg-light' id = 'quiz-box'></div>
            <button class ='btn btn-success mt-5'>
                <i class="fa-regular fa-floppy-disk mx-2"></i>
                Сохранить</button>
        </form>
        <div class = 'mt-3 fs-5' id='result-box'></div> <!-- элемент с результатом -->
    </div>
</div>
{% endblock content %}