{% extends '../base.html' %}
{% load static %}

{% block title %}
    Специалист: Журнал
{% endblock title %}


{% block scripts %}
    <script defer src="{% static 'js/forOss/journal/jou.js' %}"></script>
{% endblock scripts %}


{% block content %}
<div>
    <div>
        <p class="text-center fw-bold fs-4" style='color:#E7882B; font-family: "Inter-Bold";'>Журнал</p>
    </div>
    <div class='container' style ='font-family: "Inter-Regular";'>
        <div class = 'float-end mb-2'>
            <form>
                {% csrf_token %}
                <button class = 'btn btn-dark'>
                    <i class="fa-regular fa-circle-down mx-2"></i>
                    Импортировать в документ
                </button>
            </form>
        </div>
        <p class='fs-5' style='font-family: "Inter-Bold";'>Фильтрация:</p>
        <form id="filter-form">
            {% csrf_token %}
            <div class = 'row'>
                <div class = 'col'>

                    <!--  -->

                    <div class='box mb-2'>
                        <label for="id_type_user">
                            Тип пользователя
                        </label>
                        <select class='form-control  ' name="type_user" id="id_type_user">
                            <option selected class='text-warning fw-bold text-uppercase' value="">Не выбран</option>
                            {% for t in type_users %}
                                <option value="{{ t.id }}">{{ forloop.counter }}. {{ t.name_type_user }}</option>
                            {% empty %}
                                <option class='text-danger fw-bold text-uppercase' value="error">В БД пусто</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!--  -->

                    <div class='box mb-2'>
                        <label for="id_type_brief">
                            Выберите тип инструктажа
                        </label>
                        <select class='form-control  ' name="type_brief" id="id_type_brief">
                            <option selected class='text-warning fw-bold text-uppercase' value="">Не выбран</option>
                            {% for t in type_brief %}
                                <option value="{{ t.id }}">{{ forloop.counter }}. {{ t.name_instruction }}</option>
                            {% empty %}
                                <option class='text-danger fw-bold text-uppercase' value="error">В БД пусто</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!--  -->

                    <div class='box mb-2'>
                        <label for="id_group">
                            Выберите необходимую группу
                        </label>
                        <select class='form-control' name="group" id="id_group">
                            <option selected class='text-warning fw-bold text-uppercase' value="">Не выбран</option>
                            {% for t in groups %}
                            <option value="{{ t.id }}">{{ forloop.counter }}. {{ t.name_group }}</option>
                            {% empty %}
                            <option class='text-danger fw-bold text-uppercase' value="error">В БД пусто</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!--  -->

                </div>

                <div class = 'col-6'>

                    <!--  -->

                    <div class='box mb-2'>
                        <label for="id_quiz">
                            Выберите необходимый тест
                        </label>
                        <select class='form-control' name="quiz" id="id_quiz">
                            <option selected class='text-warning fw-bold text-uppercase' value="">Не выбран</option>
                            {% for q in quiz %}
                                <option value="{{ q.id }}">{{ forloop.counter }}. {{ q.name_test }} - {{ q.type_user }}</option>
                            {% empty %}
                                <option class='text-danger fw-bold text-uppercase' value="error">В БД пусто</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!--  -->

                    <div class='box mb-2'>
                        <label for="id_date_start">
                            Выберите дату прохождения инструктажа
                        </label>
                        <input class = 'form-control  ' name = 'date_start' id ='id_date_start' type="date" placeholder="Выберите дату">
                    </div>

                    <!--  -->

                    <div class='box mb-2'>
                        <label for="id_date_start">
                            Выберите дату повторного прохождения инструктажа
                        </label>
                        <input class = 'form-control' name = 'date_end' id ='id_date_end' type="date" placeholder="Выберите дату">
                    </div>

                    <!--  -->

                </div>
            </div>

            <div class = 'float-end'>
                <button class = 'btn btn-outline-orange'>
                    <i class="fa-solid fa-bolt mx-2"></i>
                    Выполнить
                </button>
            </div>
        </form>
    </div>
    <div class = 'tables mt-5'>
        <table class = 'table table-hover table-sm' style="font-size: 14px;">
            <thead>
                <tr>
                    <th class = 'text-secondary' scope="col">№</th>
                    <th class = 'text-secondary' scope="col">Фамилия</th>
                    <th class = 'text-secondary' scope="col">Имя</th>
                    <th class = 'text-secondary' scope="col">Отчество</th>
                    <th class = 'text-secondary' scope="col">Группа</th>
                    <th class = 'text-secondary' scope="col">Тип пользователя</th>
                    <th class = 'text-secondary' scope="col">Тип пользователя (тест)</th>
                    <th class = 'text-secondary' scope="col">Тип инструктажа</th>
                    <th class = 'text-secondary' scope="col">Тест</th>
                    <th class = 'text-secondary' scope="col">Дата прохождения</th>
                    <th class = 'text-secondary' scope="col">Дата повторного прохождения</th>
                    <th class = 'text-secondary' scope="col">Процент прохождения</th>
                    <th class = 'text-secondary' scope="col">Итог</th>
                </tr>
            </thead>
            <tbody style='font-family: "Inter-Regular";'>
                
                {% for u in users %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {{ u.user.last_name }}
                        </td>
                        <td>
                            {{ u.user.first_name }}
                        </td>
                        <td>
                            {{ u.user.patronymic }}
                        </td>
                        <td>
                            {{ u.user.groupStud }}
                        </td>
                        <td>
                            {{ u.user.type_user }}
                        </td>
                        <td>
                            {{ u.quiz.type_user }}
                        </td>
                        <td>
                            {{ u.instruction.name_instruction }}
                        </td>
                        <td>
                            {{ u.quiz.name_test }}
                        </td>
                        <td>
                            {{ u.date_instruction }}
                        </td>
                        <td>
                            {{ u.date_instruction_end }}
                        </td>
                        <td>
                            {{ u.date_instruction }}
                        </td>
                        <td>
                           
                            {% if u.mark == 'Не сдан' %}
                                <span class = 'text-danger'> {{ u.mark }}</span>
                            {% else %}
                                <span class = 'text-success'> {{ u.mark }}</span>
                            {% endif %}
                            
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>Пока пусто.</td>
                    </tr> 
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock content %}