{% extends "../base.html" %}
{% block title %} Смена пароля {% endblock %}
{% block content %}
<div class="login-form d-flex justify-content-center">
    {% if validlink %}
    <form class = "" action="." method="post">
        <p>Введите и подтвердите свой новый пароль.</p>
        {% csrf_token %}
        {{ form }}
        {{ form.errors }}
        <button class = "btn btn-orange text-uppercase text-white">Отправить</button>
    </form>
    {% else %}
    <div>
        <h1 class = "error_reset_password text-center"><span>Ошибка</span> при смене пароля!!</h1>
        <p class = "error_reset_password-text text-center mt-5">Ссылка на сброс пароля была недействительной, возможно, потому, 
            что она уже использовалась. Пожалуйста, <span>запросите новый сброс пароля.</span> </p>
    </div>
       
    {% endif %}
</div>
{% endblock %}
