{% extends "../base.html" %}
{% block title %} Отправка письма {% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
    <form class = "d-flex flex-column" action="." method="post" style = 'max-width: 350px; width: 100%;'>
        {% csrf_token %}
        <div class ="mb-2">
            <h3 class ="text-center fw-bold" style = 'color:#E7882B;'>Восстановление</h3>
        </div>
        <input class = 'form-control' type="email" name = 'email' id="id_email" placeholder = 'Введите почту'>
        <button class = "btn btn-orange mt-2">Отправить</button>
    </form>
</div>
{% endblock %}
