{% extends '../base.html' %}

{% block title %} Создание пользователя {% endblock %}

{% block content %}
<div class="createUser_container flex justify-center mb-5">
    <form class = "shadow rounded p-3" action="{% url 'user_create' %}" method="POST" style = "max-width: 900px;" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media.js }}
        <div>
            <h3 class = "text-lg font-bold text-center text-orange-600">
                <span>Создание пользователя</span> 
            </h3>
        </div>
        <div class = "flex">
            <div class = "mb-3 p-3" style = "max-width: 250px;">
                {{ form.first_name}}
                {{ form.gender.label_tag }}
                {{ form.gender }}
                {{ form.city.label_tag }}
                {{ form.city }}
                {{ form.house }}
                {{ form.avatar.label_tag }}
                <input class = "form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-orange-500 focus:outline-none shadow" type="file" name = "avatar" id="id_avatar" required accept="image/*">
                {{ form.type_user.label_tag }}
                {{ form.type_user }}
            </div>
            <div class = "p-3">
                {{ form.last_name}} {{ form.last_name.errors }}
                {{ form.username }}   {{ form.username.errors }}
                {{ form.birthday_date.label_tag}}
                {{ form.birthday_date}}
                {{ form.phone_number }}
                {{ form.groupStud.label_tag }}
                {{ form.groupStud }}
                {{ form.date_end.label_tag }}
                {{ form.date_end }}
            </div>
            <div class = "p-3">
                {{ form.patronymic }}   {{ form.patronymic.errors }}
                {{ form.region.label_tag }}
                {{ form.region }}
                {{ form.street.label_tag }}
                {{ form.street }}
                {{ form.flat }}
                {{ form.role.label_tag }}
                {{ form.role }}
                {{ form.email }}
            </div>
        </div>
        <div class = "p-3">
            <input class = "form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-orange-500 focus:outline-none shadow" type="password" name="password1" id="id_password1" placeholder="Введите пароль">
            <input class = "form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-orange-500 focus:outline-none shadow mt-3" type="password" name="password2" id="id_password2" placeholder = "Повторите пароль">
        </div>
            <button class="px-6 py-2.5 bg-orange-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-orange-600 hover:shadow-lg focus:bg-orange-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-orange-700 active:shadow-lg transition duration-150 ease-in-out text-center" style = "display:block; margin: 15px auto;">Создать пользователя</button>
    </form>
</div>

{% endblock %}