
{% load static %}

{% block scripts %}
    <script defer src = "{% static 'js/action/action.js' %}"></script>
{% endblock scripts %}
    
<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <div class="row mb-3">
                <div class = 'col'>
                    <p class="modal-title fs-5" id="staticBackdropLabel">Добавление инструктажа</p>
                </div>
                <div class = 'col-6' style ='max-width: 50px;'>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
            </div>
            <div id='body-form' class="modal-body">
                <form>{% csrf_token %} <div id = 'change-form'></div></form>
            </div>
            <div class= 'mx-auto mt-2'>
                <button type="button" id='start-button' data-bs-dismiss="modal" class="btn btn-primary">
                    <i class="fa-solid fa-bolt mx-2 text-warning"></i>
                    Сменить
                </button>
            </div>
        </div>
    </div>
</div>

<div style = 'max-width: 920px;'>
    <p class='text-dark fs-4' style="font-family: 'Inter-Bold';">Мои возможности</p>
    <div class = 'd-flex flex-wrap mt-5'>
        {% if user.is_superuser %}
        <div class = 'border rounded p-3 m-2'>
            <p class = 'text-uppercase fs-5' style="font-family: 'Inter-Bold';">Администратор</p>
            <div class="list-group"> 
                <a href='#' class = 'list-group-item list-group-item-action fw-bold ' id="import-button">
                    <i class="fa-regular fa-circle-down mx-1"></i>
                    Импорт пользователей
                </a>
                <a class='list-group-item list-group-item-action fw-bold' href="{% url 'admin:index' %}">
                    <i class="fa-solid fa-toolbox mx-2"></i>
                    Панель администратора
                </a>
            </div>
        </div>
        {% endif %} 

        {% if request.user.role|stringformat:"s" == 'Специалист по охране труда' %}
        <div class = 'border rounded p-3 m-2'>
            <p class = 'text-uppercase fs-5' style="font-family: 'Inter-Bold';">Специалист по охране труда</p>

            <div class="list-group"> 
                <a class='list-group-item list-group-item-action fw-bold' href="{% url 'journal_view' %}">
                    <i class="fa-solid fa-chart-gantt mx-2"></i>
                    Журнал
                </a>
                <a class='list-group-item list-group-item-action fw-bold' href="{% url 'admin:index' %}">
                    <i class="fa-regular fa-circle-plus mx-1"></i>
                    Добавление инструктажей
                </a>
            </div>
        </div>
        {% endif %} 

    </div>
</div>