<!DOCTYPE html>
{% load static %}
<html lang="ru">

{% block head %}
	<title>{% block title %}{% endblock %}</title>
	{% include "blocks/head.html" %}
{% endblock %}

<body class = "flex flex-col justify-between h-[100vh]">
	<section class="user-hello">
		<div class="container  mx-auto">
			<div class="wrap">

				<!-- header start -->
				{% include "blocks/header.html" %}
				<!-- header end -->
				
			</div>
		</div>
	</section>

    <main class="main-content mt-3">
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </main>

    <!-- footer start -->
	{% include "blocks/footer.html" %}
	<!-- footer end -->

	<!-- connect messages start -->
	{% include "blocks/message.html" %}
	<!-- connect messages end -->
</body>

</html>