<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="{% static 'images/logo.svg' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- fontawes start -->
	<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
	<!-- fontawes end -->
	<title>{% block title %} {% endblock title%}</title>
	<script defer src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
	<script defer src="{% static 'js/bootstrap.bundle.js' %}"></script>
</head>


{% block scripts %}
{% endblock scripts %}


<header>
	<nav class="navbar navbar-expand-lg" style="font-family: 'Inter-Regular';">
		<div class="container">
			<a href="{% if request.user.is_authenticated %}{% url 'brief' %}{% else %}{% url 'login' %}{% endif %}" class="navbar-brand">
				<img src="{% static 'images/logo.svg' %}" alt="logo" height="75">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarNav">
				<ul class="navbar-nav">
					{% if request.user.is_authenticated %}
						<li class="nav-item">
							<a class="btn btn-orange m-2 text-light button-header" href="{% url 'brief' %}"><i
									class="fa-solid fa-square-pen mx-1"></i> Инструктажи</a>
						</li>
						{% if request.user.is_superuser or request.user.role|stringformat:"s" == 'Специалист по охране труда' %}
							<li class="nav-item">
								<a class="btn btn-outline-primary m-2 button-header" href="{% url 'admin:index' %}"><i
										class="fa-solid fa-toolbox mx-1"></i> Панель администратора</a>
							</li>
						{% endif %}
					{% endif %}
					{% if request.user.is_authenticated %}
					<div class='navbar d-flex justify-content-center'>
						{% if request.user.is_authenticated %}
						<div class="dropdown text-end d-flex mx-2">
							<a class="d-block link-dark text-decoration-none d-flex align-items-center" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
								<div class = 'rounded-circle mx-2 shadow-sm' style = '
									width: 40px;
									height: 40px;
									background-position: center;
									background-repeat: no-repeat;
									background-size: cover;
									background-clip: unset;
									{% if request.user.avatar %}
									background-image: url("{{ request.user.avatar.url }}");
									{% else %}
									background-color: #f2f2f2;
									{% endif %}
								'></div>
								<!-- <i class="fa-solid fa-arrow-down-wide-short fs-4 text-primary"></i> -->
							</a>
							<ul class="dropdown-menu text-small dropdown-menu-end" aria-labelledby="dropdownUser1">
								{% if user.is_authenticated %}
								<li>
									<a class="dropdown-item" href="{% url 'profile' %}">
										<i class="fa-regular fa-user mx-2" style = 'color:#E7882B;'></i> 
										Мой профиль
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li class='d-flex justify-content-center mt-2'>
									<a class="btn btn-danger" href="{% url 'logout' %}">
										<i class="fa-solid fa-door-open mx-2"></i>
										Выйти
									</a>
								</li>
									
								{% endif %}
							</ul>
						</div>
						{% else %}
						<div class="dropdown text-end">
							<a href="{% url 'login' %}" class="d-block link-dark text-decoration-none">
								<img src="{% static 'images/startPage/user/user.svg' %}" alt="user">
							</a>
						</div>
						{% endif %}
					</div>
					{% else %}
					<li class="nav-item">
						<a href="{% url 'login' %}" class="nav-link">
							<img src="{% static 'images/startPage/user/user.svg' %}" alt="user">
						</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</header>

<body>
	<div id = 'alertBox' class="notifContainer"></div>
	<main>
		
		{% block content %}
			
		{% endblock content %}
			
	</main>
</body>

</html>
