{% extends './base.html' %}
{% load static %}

{% block title %}
    DeepPavlov
{% endblock title %}


{% block scripts %}
    <script defer src = "{% static 'js/bot/bot.js' %}"></script>
{% endblock scripts %}
    

{% block content %}
    <div class="bot_content">
        <div class="container d-flex flex-column">
            <div class = 'border p-3' style='height:40vh'>
                <div id = 'response-box'>
                    <p class = 'fw-bold text-danger text-center fs-1'>В разработке</p>
                </div>
            </div>
            <form id='bot-form' class = 'row mt-2'>
                {% csrf_token %}
                <input  class = 'col mx-2 form-control form-control-sm' name = 'message' type="text">
                <button class = 'col-2 btn btn-orange' style = 'max-width: 150px;'>
                    <i class="fa-solid fa-robot"></i>
                    Отправить
                </button>
            </form>
        </div>
    </div>
{% endblock content %}

    