{% extends './base.html' %}
{% load static %}
 
{% block title %}
    ОЙЙЙЙЙ
{% endblock title %}
    

{% block content %}

    <div class="container d-flex" style ="height:50vh;">
        <img style ="height:89.7vh;" src="{% static 'images/error/man.png' %}" alt="man.png">
        <div style = "height:50vh;" class ="error-block d-flex align-items-center flex-start">
            <div class = "">
                <p class = "fs-1 text-danger fw-bold">Что-то пошло не так</p>
                <p class = "fs-3 fw-bold">Попробуй зайти позже.... </p>
                <p class ="fw-bold text-uppercase mt-5"><a class = 'btn btn-orange' href="{% url 'main' %}">На главную</a></p>
            </div>
           
        </div>
    </div>

{% endblock %}