{% load static %}

{% block scripts %}
    <script defer src="{% static 'js/resultsBrief/briefFilter.js' %}"></script>
{% endblock scripts %}
    


{% load static %}
<div style = 'max-width: 920px;'>
    <p class='text-uppercase text-secondary' style="font-family: 'Inter-Bold';">Пройденные инструктажи</p>
    <div>
        <table class = 'table table-hover table-sm'>
            <thead>
                <form>{% csrf_token %}</form>
                <tr>
                    <th name = 'filterFunc' class = 'text-secondary' scope="col">№</th>
                    <th name = 'filterFunc' class = 'text-secondary' scope="col">Категория инструктажа</th>
                    <th name = 'filterFunc' class = 'text-secondary' scope="col" id="name-brief">Название инструктажа</th>
                    <th name = 'filterFunc' id = 'filterFunc' class = 'text-secondary' scope="col">Дата</th>
                    <th name = 'filterFunc' class = 'text-secondary' scope="col">Количество %</th>
                    <th name = 'filterFunc' class='text-center text-secondary' scope="col">Итог</th>
                </tr>
            </thead>
            <tbody>
                {% for o in obj %}
                    <tr>
                        <td name = 'number-quiz'>{{ forloop.revcounter }}</td>
                        <td>{{ o.instruction }}</td>
                        <td name ='name-quiz' style = 'max-width: 375px;'>{{ o.quiz.name_test }}</td>
                        <td name = 'date-start'>{{ o.date_instruction|date:'d.m.Y H:i' }}</td>
                        <td class = 'text-center'>{{ o.result }}%</td>
                        {% if o.mark == 'Не сдан' %}
                            <td class ='bg-danger text-white text-center'>
                                {{ o.mark }}
                            </td>
                        {% else %}
                            <td class = 'bg-success text-white text-center'>
                                {{ o.mark }}
                            </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <p style='font-family: "Inter-Bold"; color:#E7882B;'>Пока пусто.</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>