{% extends "./base.html" %}
{% load static %}

{% block title %} Личный кабинет {% endblock %}


{% block scripts %}
<script defer src="{% static 'js/profile/profile.js' %}"></script>

{% endblock scripts %}


{% block content %}
<p class="text-center fw-bold fs-4" style='color:#E7882B;'>Основная информация</p>
<div class="container">
    <div class='mt-5 d-flex' style = 'min-height: 35vh;'>
        <div id='box' class='col d-flex'>
                <div>
                    {% if request.user.avatar %}
                    <div class="rounded" style="
                            width:250px;
                            height:250px;
                            background-image: url('{{ request.user.avatar.url }}');
                            background-size: cover;
                            background-position: center;
                        ">
                    </div>
                    {% endif %}
                </div>

                <div class='mx-4'>
                    <p class='fw-bold fs-5' style='font-family: "Inter-Bold"; color:#E7882B;'>{{ request.user.first_name }}
                        {{ request.user.last_name }} {{ request.user.patronymic }}</p>

                    <p class='fw-bold' style='font-family: "Inter-Bold"; color:#3B5B6F;'>
                        <i class="fa-solid fa-cake-candles"></i>
                        <span class='mx-2'>{{ request.user.birthday_date }}</span>
                    </p>

                    {% if user.is_superuser %}
                    <div class='d-flex'>
                        {% if request.user.groupStud %}
                        <p style='font-family: "Inter-Bold"; color:#E7882B;'>гр. {{ request.user.groupStud }}</p>
                        {% endif %}
                        <p class='text-danger mx-3' style='font-family: "Inter-Bold";'>Роль: Администратор</p>
                    </div>
                    {% else %}
                    <div class='d-flex'>
                        {% if request.user.groupStud %}
                        <p style='font-family: "Inter-Bold"; color:#E7882B;'>гр. {{ request.user.groupStud }}</p>
                        {% endif %}
                        <p class='text-primary mx-3' style='font-family: "Inter-Bold";'>Роль: {{ request.user.role }}</p>
                    </div>
                    {% endif %}

                    {% if request.user.phone_number %}
                    <div class='d-flex'>
                        <p class='d-flex align-items-center' style='font-family: "Inter-Regular"; color:#3B5B6F;'>
                            <i class="fa-solid fa-phone mx-2"></i>
                            {{ request.user.phone_number }}
                        </p>
                        <p class='d-flex align-items-center mx-3' style='font-family: "Inter-Regular"; color:#3B5B6F;'>
                            <i class="fa-regular fa-envelope mx-2"></i>
                            {{ request.user.email }}
                        </p>
                    </div>

                    {% endif %}

                </div>
        </div>


    <div class='col-5 d-flex align-items-center' style="max-width:350px; width: 100%;">
        <div class="list-group" style = 'position: fixed; top:190px;'>
            <a href="{% url 'profile' %}" class="list-group-item list-group-item-action">
                <i class="fa-regular fa-user mx-2" style='color:#E7882B;'></i>
                Мой профиль
            </a>
            <button class="list-group-item list-group-item-action" data-name = 'action' name='menu-profile'>
                <i class="fa-regular fa-star mx-2"></i>
                Мои возможности
            </button>
            <button class="list-group-item list-group-item-action" data-name = 'edit' name='menu-profile'>
                <i class="fa-solid fa-square-pen mx-2 text-primary"></i>
                Сменить данные
            </button>
            <button class="list-group-item list-group-item-action" data-name = 'detail' name ='menu-profile'>
                <i class="fa-regular fa-address-card mx-2 text-success"></i>
                Мои данные
            </button>
            <button href="#" class="list-group-item d-flex justify-content-between align-items-center" data-name = 'notifications' name ='menu-profile'>
                <div>
                    <i class="fa-regular fa-bell mx-2 text-warning"></i>
                    Уведомления
                </div>

                <span class="badge rounded-pill text-white" style="color:#E7882B; background-color:#E7882B;">2</span>
            </button>
            <button class="list-group-item list-group-item-action" data-name = 'passed_inst' name ='menu-profile'>
                <i class="fa-solid fa-square-pen mx-2 text-secondary"></i>
                Пройденные инструктажи
            </button>
            <a href="{% url 'logout' %}" class="list-group-item list-group-item-action fw-bold text-danger">
                <i class="fa-solid fa-door-open mx-2"></i>
                Выйти
            </a>
        </div>
    </div>
    </div>
</div>

</div>

{% endblock %}