<div>
    <p class = 'text-uppercase' style="font-family: 'Inter-Bold'; color:#E7882B;">Смена данных</p>
    <div class="d-flex justify-content-center">
        <form class = 'd-flex flex-column'>
            {% csrf_token %}
            <div class = 'mb-2'>
                <input class = "form-control" placeholder = "Введите новый логин" type = "text" name = "username" value = "{{ request.user.username }}" required id ="id_username"/>
            </div>
            <div class = 'mb-2'>
                <input class = "form-control" type = "file" name = "avatar" accept="image/*" id ="id_avatar"/>
            </div>
            <div class = 'mb-2'>
                <input class = "form-control" placeholder = "Введите номер телефона" type = "tel" name = "phone_number" required id ="id_numberPhone" value = "{{ request.user.phone_number }}"/>
            </div>
            <div class = 'mb-2'>
                <input class = "form-control" placeholder = "Введите электронную почту" type = "email" name = "email" required id ="email" value = "{{ request.user.email }}"/>
            </div>
             
            {{ form.non_field_errors }}
            <button class = "btn btn-orange mx-auto" type="submit">Изменить</button>
        </form>
    </div>
</div>
